.hs-box {
  width: 100%;
  height: 1rem;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
}
.hs-foot {
  width: 100%;
  height: 100%;
  line-height: 1rem;
  display: flex;
  padding: 0.1rem 0;
  box-sizing: border-box;
}
.hs-foot li {
  flex: 1;
}
.hs-foot li a {
  width: 100%;
  height: 100%;
}
.hs-foot li a p:nth-child(1) {
  font-size: 0.4rem;
}
.hs-foot li a p:nth-child(2) {
  font-size: 0.2rem;
}
.hs-foot li a p {
  text-align: center;
}
.hs-foot li .active {
  color: red;
}
